* {
    box-sizing: border-box;
}

.welcome-container {
    text-align: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.new-post-btn-container{
    text-align: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.post-container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.post-container form button {
    font-size: 0.9rem;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #e74c3c;
    background-color: transparent;
    color: #e74c3c;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.post-container form button:hover {
    background-color: #e74c3c;
    color: white;
}

.about-container {
    text-align: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.about-container > img{
    margin-bottom: 40px;
}

.cancel-create-post {
    text-align: center;
}

/* for google */
#place-picker-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#place-picker-container {
    text-align: left;
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
    height: 100%;
}

#place-autocomplete-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
    padding: 5px;
    font-family: Roboto, sans-serif;
    font-size: large;
    font-weight: bold;
}

gmp-place-autocomplete {
width: 300px;
}

#infowindow-content .title {
font-weight: bold;
}

#map #infowindow-content {
display: inline;
}  

.search-container {
    margin: 20px auto; /* Center horizontally */
    text-align: left;  /* Align text for the search box */
}

#search-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    box-sizing: border-box; /* Ensure padding doesn't exceed container */
}


/* General styles for the pills */
.attribute-pills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Default state for pills */
.pill {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .pill:hover {
    background-color: #e0e0e0;
  }
  
  .pill.selected {
    background-color: #0077ff; /* Highlight color for selected */
    color: #fff;
    border-color: #0056b3;
  }

/* Attribute pills for locations.ejs */
.attribute-pill {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 0.85rem;
    text-align: center;
    white-space: nowrap;
  }
  